$primary-color: rgb(10, 41, 49);
$secondary-color: #faa;
$page-color:#ffff;
$carousel-text:rgb(39, 182, 70);
$text-color: rgba(54, 54, 35, 0.6);
$code_color:#9ccc9c ;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
    );