@import '_variables' ;
*{
    overflow: auto;
}
body{
    background: $primary-color;
    font-weight: map-get($font-weights , bold );
    margin: 1vh 0;
}
.header{
    margin-left: 1rem;
    width: 80%;
    background-color: $page-color;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    .fun_side_bg_right{
        grid-column: 1/2;
        background-image: url('https://raw.githubusercontent.com/Taneristique/about_me/main/assets/images/athmosfer.JPG');   
        background-size: contain;
        height: 100%;
        width: 100%;
        position: static;
        
    }
    .fun_side_bg_left{
        grid-column: 4/5;
        background-image: url('https://raw.githubusercontent.com/Taneristique/about_me/main/assets/images/athmosfer.JPG');   
        background-size: contain;
        height: 100px;
        width: 100%;
        position: static;
        height: 100%;
        width: 100%;

    }
    &__info{
        color:$text-color;
        grid-column: 2/4;
        grid-row: 1/2;
        &_sass{
            color:$text-color;
            align-items: center;
            text-align: center;
            &_text_header{
                color: $secondary-color;
                grid-column: 1/4;

            }
        
    
            }
            .fun{
                color:currentColor;
                font-weight: map-get($font-weights , bold );
                display: inline-grid;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-template-columns: repeat(4,minmax(1ch,1fr));
                grid-template-rows: repeat(2,1fr);


                .text1{
                    grid-column: 2/3;

                }
                .text2{
                    grid-column: 3/4;
                }
                .text3{
                    grid-column: 4/5;
                }
                
                
                @import 'carousel';

                .paragraph_eins{
                    grid-column: 2/4;
                    grid-row: 2/-2;
                    position: relative;
                    top: 100vh;

                }
            
                    
                }
                footer{
                    display: grid;
                    place-items: center;
                    position: relative;
                    overflow: auto;

                    code{
                        color: $code_color;
                        font-weight: map-get($font-weights , bold );
                        font-size: 1.2em;
                      


            }//jiophone2
              @media screen and (max-device-width:240px) {
                            code{font-size:0.5em;
                            }}

                    }
            
    }
  
}